<meta charset="utf-8">
<title>JeopPrep</title>
<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link rel="stylesheet" href="/css/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="/js/scripts.js"></script>

<%# Templates%>

<%# Render Game%>
<script type="text/x-handlebars-template" id="game-template">
  <label class="headTop">Cash Money</label><label class="this-game">{{score}}</label>
  <div class="game">
    {{#each category}}
    <div class="cat-name">
      {{this}}
    </div>
    {{/each}}
      {{#each clue}}
      <div class="clue">
        <ul class="clue-details">
          <li class="category">{{ this.category }}</li>
          <li class="value">{{ this.value }}</li>
          <li class="question">{{ this.question  }}</li>
          <li class="answer">{{ this.answer  }}</li>
        </ul>
      </div>

      {{/each}}

  </div>
</script>

<%# View Stats%>

<script type="text/x-handlebars-template" id="view-stats-template">
  <div class="row">
    <div class="four columns">
      <h5>Correct Answers</h5>
      <h5>{{correct}}</h5>
    </div>
    <div class="four columns">
      <h5>Questions Answered</h5>
      <h5>{{answered}}</h5>
    </div>
    <div class="four columns">
      <h5>% Correct</h5>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-two four columns">
      <h5>Single Game Hi Score</h5>
      <h5>{{highScore}}</h5>
    </div>
    <div class="four columns">
      <h5>Total Cash</h5>
      <h5>${{totalCash}}</h5>
    </div>
  </div>
</script>

<%# View Leaderboard%>

<script type="text/x-handlebars-template" id="leaderboard-template">

  <div class="row">
    <div class="offset-by-three six columns">
      <h3>Leaderboard</h3>
    </div>
  </div>

  <!-- Column Heads -->
  <div class="row">
    <div class="offset-by-one four columns">
      <h5>Player</h5>
    </div>
    <div class="three columns">
      <h5>Correct Answers</h5>
    </div>
    <div class="three columns">
      <h5>Single Game Hi Score</h5>
    </div>
  </div>
  <!-- Row for each user -->
  {{#each users}}
    <div class="row">
      <div class="offset-by-one four columns">
        <h5>{{this.username}}</h5>
      </div>
      <div class="three columns">
        <h5>{{this.correct}}</h5>
      </div>
      <div class="three columns">
        <h5>{{this.highScore}}</h5>
      </div>
    </div>
  {{/each}}
</script>
