<div class="header">
  <div class="row">
   <div id="user-status" class="four columns">
      <div id="welcome-msg">
        <h5>Welcome!</h5>
        <h6>Please log in to play</h6>
      </div>
      <div id="user-dashboard">
        <button class="button-primary view-stats">View Stats</button>
        <button class="button-primary leaderboard">Leaderboard</button>
        <button class="button-primary new-game">New Game</button>
        <button class="button-primary" id="logout">Log Out</button>
      </div>
    </div>
    <div class="eight columns title">
      <div id="container">
      <p>JeopPrep</p>
      </div>
    </div>
  </div>
</div>
