<div class="row dashboard-row">
  <div class="four columns">
    <button class="button-primary">View Stats</button>
  </div>
  <div class="four columns">
    <button class="button-primary new-game">New Game</button>
  </div>
  <div class="four columns">
    <button class="button-primary">Leaderboard</button>
  </div>
</div>
