<div class="row">
  <div id="signup-success-box">

  </div>
</div>

<div class="row">
  <div class="six columns user-prompt">
    <h3 class="newuser">New Users</h3>
    <h4>Sign Up</h4>
    <form id="sign-up-form">
      <input type="text" name="username" placeholder="Create a Username">
      <input type="password" name="password" placeholder="Set Password">
      <br>
      <input type="submit" value="Sign Up" class="button-primary">
    </form>
  </div>
  <div class="six columns user-prompt">
    <h3 class="returnuser">Returning Users</h3>
    <h4>Log In</h4>
    <form id="log-in-form">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Log In" class="button-primary">
    </form>
  </div>
</div>
