<div class="row">
  <div class="offset-by-one five columns user-prompt">
    <h3>New User?</h3>
    <h4>Sign Up Here!</h4>
    <form id="sign-up-form">
      <input type="text" name="username" placeholder="Create a Username">
      <input type="password" name="password" placeholder="Set Password">
      <br>
      <input type="submit" value="Sign Up" class="button-primary">
    </form>
  </div>
  <div class="five columns user-prompt">
    <h3>Returning User?</h3>
    <h4>Log In Here!</h4>
    <form id="log-in-form">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="submit" value="Log In" class="button-primary">
    </form>
  </div>
</div>
