<!DOCTYPE html>
<html>
  <head>
  
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <div id="user-manager" class="content-block">
        <% include ./partials/user_manager %>
      </div>

      <div id="user-dashboard">
        <% include ./partials/user_dashboard %>
      </div>


      <div id="view-stats" class="user-only">

      </div>

      <div id="game-time" class="user-only">



    </div>

  </body>
</html>
