<!DOCTYPE html>
<html>
  <head>

    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="user-manager" class="content-block">

      </div>

      <div id="game-time">

      </div>
    </div>

  </body>
</html>
