body {
  background-color: rgb(227, 223, 204);
  margin: 0;
  padding: 0;
  background: (45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  background-image: url('https://lh4.ggpht.com/LRAA7iL7Ja1cmWI9q32X4kRPMhcukMJX1hyMQ2o4y-rCwrII5lilDLcOB-ZIPy7yNAM=h900');
  background-size: cover;
}
li{
  color: white;
  font-style: bold;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: black;
}

h3.returnuser, h3.newuser, h3.leaderboard{
  font-family: 'Audiowide';
  color:#228DFF;
}

h3.leaderboard{
  text-align: center;
}
h4, h5, h6{
  font-family: 'Audiowide';
  color:#228DFF;
}
h5{
  text-align: center;
}

#welcome-msg h5,
#welcome-msg h6 {
  text-align: left;
  padding: 10px 0 0 10px;
}
.header {
  background-color: rgba(175, 198, 224, 0.1);
  padding: 0;
  margin-bottom: 10px;
}
#redo{
  text-align: center;
}
.title {
  text-align: left;
  margin-left: -60px;
  padding-top: 40px;
}
#signup-success-box {
  text-align: center;
  padding: 15px;
}
.success-msg {
  font-size: 1.5em;
  width: 75%;
  margin: 0 auto;
  color: #228DFF;
  background-color: rgba(175, 198, 224, 0.1);
}

.login-error {
  display: none;
}
#user-dashboard button, #redo button {
  margin-left: 30px;
  font-size: .6em;
  width: 55%;
  background-color: #228DFF;
  border-color: #228DFF;
}
#redo button{
  width: 25%;
  color: white;
}
#user-dashboard button:hover, #redo button:hover {
  background-color: #0560c2;
  border-color: #0560c2;
}
#view-stats {
  background-color: rgba(175, 198, 224, 0.1);
  display: none;
}
#view-leaderboard {
  background-color: rgba(175, 198, 224, 0.1);
  display: none;
}
#view-stats h5,
#view-stats h6,
#view-leaderboard h5,
#view-leaderboard h6 {
  color: #a4c6e9;
}
.dashboard-row {
  margin: 35px 0;
}
.game{
  width: 100%;
  margin-left: 7%;
}
.cat-name{
  width: 12%;
  display: inline-block;
  padding: 1%;
  margin: 0;
  background-image: url('http://www.trestlewood.com/image/780a/29609/BlogDateBoard.png');
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
  font-size: 16px;
}
.clue:hover{
  cursor: pointer;
}
.finishedClue, .clue{
  width: 14%;
  height: 100px;
  display: inline-block;
  background-image: url('http://cdn.tutsplus.com/net/uploads/legacy/044_YoutubeIntegration/res/images/tv.png');
  background-size: cover;
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: rgb(227, 223, 209);
  text-align: center;
  overflow-y: hidden;
}


.question,.answer,.category{
  display: none;
}
ul{
list-style-type: none;
}
.clue-details{
margin-top: 20%;
font-size: 30px;
text-align: center;
}

li.value:hover{
  color: #228DFF;
  }

li.value:active{
  color: firebrick;
 }
#seconds{
  border: 2px solid;
   border-radius: 25px;
  border-style: dotted;
    border-width: thick;
    border-color: black;
  width: 60px;
  border: none;
  background-color: white;
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-left: 50%;
}
.this-game,.high-score,.final-score,#joke,#blank{
text-align: center;
color: white;
font-family: 'Audiowide';
}
.this-game{
  font-size: 30px;
  color:#228DFF;
}

.headTop{

  text-align: center;
  font-size: 20px;
  font-family: 'Audiowide';
  color: #228DFF;
}
.headTop img{
border: 0;
height: 49px;
}

#overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#modal {
	position:absolute;
	background:url(tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
}

#content {
	border-radius:8px;
	background:#fff;
	padding:20px;
  text-align: center;
  max-width: 95%;
}
#end, form#answer{
  text-align: center;
}

#user-status{
  padding-left: 10px;
  color: white;
}
 input.submit-answer{
   background-color: white;
   color: black;
 }



/*********TITTLE GLOW AND FONT**********/
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(https://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
#container {
  width: 500px;
  margin: auto;
}
p:nth-child(1) {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 500%;
  color: #228DFF;
  font-family: Audiowide;

}

p:nth-child(1){
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}


/**neon**/
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
